.custom-btn {
  background-color: transparent;
  border-color: #FDE2C4;
  color: #000;
}

.custom-btn:hover {
  background-color: #FDE2C4;
  color: black;
}

.active {
  background-color: #FDE2C4;
  color: black;
}
