<div class="col-sm-8">
  <div class="row m-3 p-2 card-border">
    <h5>Read books</h5>
    <img *ngFor="let book of user?.read" [src]="book?.coverImageURL" alt="book cover" class="cursor-pointer"
         (click)="bookClicked(book)"/>
  </div>
  <div class="row m-3 p-2 card-border">
    <h5>Want to read books</h5>
    <img *ngFor="let book of user?.wantToRead" [src]="book?.coverImageURL" alt="book cover" class="cursor-pointer"
         (click)="bookClicked(book)"/>
  </div>
  <div class="row m-3 p-2 card-border">
    <h5>Currently reading books</h5>
    <img *ngFor="let book of user?.currentlyReading" [src]="book?.coverImageURL" alt="book cover" class="cursor-pointer"
         (click)="bookClicked(book)"/>
  </div>
</div>

