<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-12 col-md-2">
      <img [src]="user?.profileImageURL" class="profile-picture" alt="user profile picture"/>
    </div>
    <div class="col-sm-12 col-md-6">
      <button type="button" class="btn btn-outline-primary custom-btn mb-2" (click)="toggleEditProfile()">
        <mat-icon>edit</mat-icon>
      </button>
      <div class="row">
        <h5>{{user?.username}}</h5>
      </div>
      <div class="row"><p>{{user?.description}}</p></div>
    </div>
    <div class="col-sm-12 col-md-4">
      <h5>Friends</h5>
      <div class="row" *ngFor="let friend of friends">
        <img [src]="friend.profileImageURL" class="friend-profile-picture col" alt="user profile picture"/>
        <h5 class="col align-self-center">{{friend.username}}</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <form *ngIf="showEdit" class="profile mt-5" [formGroup]="profileForm">
      <label for="description"></label>
      <textarea id="description" name="description" rows="4" cols="45" placeholder="Enter a description"
                formControlName="description"></textarea>
      <div class="row-cols-md-10">
        <button type="button" class="btn btn-outline-primary custom-btn" (click)="toggleUpdateProfile()">Update
          profile
        </button>
      </div>
    </form>
  </div>
  <app-shelves></app-shelves>
</div>
